@using Xlns.XTM.Core.Model
@model IList<DynamicBoard>
@{
    ViewBag.Title = "Boards";
}
@foreach (var board in Model)
{
    <div class="row-fluid">
        <div class="span6 offset3 hero-unit">
            <div >
                <h2 class="board-title" data-board-id="@board.Id">@board.Name</h2>
                <input class="board-title-edit" data-board-id="@board.Id" type="text" value="@board.Name" >
            </div>
            <div>
                <span>@board.Description</span>
            </div>
        </div>
    </div>
}


@section scripts{
    <script src="@Url.Content("~/Content/scripts/board.list.js")" type="text/javascript"></script>
}